# LINKUP_APIKEY=create_apikey_at_linkup.so
# HF_TOKEN=your_hugging_face_finegrained_token
# GENERAL_MODEL_PATH="src/models/downloads/path-to-general-gguf-model"
# EXPERT_MODEL_PATH="src/models/downloads/path-to-expert-gguf-model"

CREWAI_TRACING_ENABLED=true
OPENROUTER_BASEURL=https://openrouter.ai/api/v1
OPENROUTER_APIKEY=create_apikey_at_openrouter.ai_or_ask_taufiq
SERPER_API_KEY=your_serper_api_key
